# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Build folders
dist/
build/

# Environment variables
.env
.env.local

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files
*.tmp
*.swp